<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.showx.interview.shipment.mapper.TradeMapper">
    <resultMap type="Trade" id="TradeMap">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="QUANTITY" property="quantity" jdbcType="INTEGER"/>
        <result column="CREATEDATE" property="createDate" jdbcType="VARCHAR"/>
        <result column="CREATEUSERID" property="createUserId" jdbcType="VARCHAR"/>
        <result column="CREATEIP" property="createIp" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="create" parameterType="Trade">
        INSERT INTO TRADE (ID, TITLE, QUANTITY, CREATEDATE, CREATEUSERID, CREATEIP)
        VALUES (#{id}, #{title}, #{quantity}, #{createDate}, #{createUserId}, #{createIp})
    </insert>

    <select id="queryAll" resultType="Trade">
        SELECT ID, TITLE, QUANTITY, CREATEDATE, CREATEUSERID, CREATEIP
        FROM TRADE
    </select>

    <select id="getById" resultType="Trade">
        SELECT ID, TITLE, QUANTITY, CREATEDATE, CREATEUSERID, CREATEIP
        FROM TRADE
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>

    <update id="updateQuantity">
        UPDATE TRADE
        SET QUANTITY = #{quantity, jdbcType=INTEGER}
        WHERE ID = #{id, jdbcType=VARCHAR}
    </update>
</mapper>
